.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #d21d1d !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #211f1f !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #ffffff !important;
}
